<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user, id: :user_user %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level, id: :user_level %>
  </div>

  <div class="field">
    <%= form.label :token %>
    <%= form.text_field :token, id: :user_token %>
  </div>

  <div class="field">
    <%= form.label :nit %>
    <%= form.number_field :nit, id: :user_nit %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :user_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
