<div class="hero-section" style="background-color: white;">
    <div class="container" >
        <div class="row">
            <div class="col-md-6" align="center">
                <%= image_tag("home/logoNegro.png", class: "img-responsive margin-auto") %>
                <h1 class="hero-title">Bienvenidos</h1>
                <p class="hero-text"><strong>SOMOS LOS NÚMERO UNO BRINDANDO SEGURIDAD Y CALIDAD</strong> </p>
            </div>
            <div class="col-md-6" align="center">
              <div style="margin-top: 3em">
                <%= image_tag("home/truck.jpg", class: "img-responsive margin-auto") %>
              </div>
            </div>
          </div>
    </div>
</div>
<div class="space-medium">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1>¡Transportamos con calidad!</h1>
                    <h5 class="small-title ">Conózcanos</h5>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-md-4">

                <%= image_tag("home/1.webp", class: "img-responsive margin-auto") %>


                <h2><a href="# " class="title ">Quiénes somos</a></h2>

            </div>

            <div class="col-md-4">

                <%= image_tag("home/2.webp", class: "img-responsive margin-auto") %>
                <h2><a href="# " class="title ">Servicios</a></h2>

            </div>

            <div class="col-md-4">

                <%= image_tag("home/3.webp", class: "img-responsive margin-auto") %>
                <h2><a href="# " class="title ">Soluciones</a></h2>

            </div>

          </div>
    </div>
</div>
