<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @carga.user %>
</p>

<p>
  <strong>Cajas:</strong>
  <%= @carga.cajas %>
</p>

<p>
  <strong>Costomanejo:</strong>
  <%= @carga.costoManejo %>
</p>

<p>
  <strong>Alto:</strong>
  <%= @carga.alto %>
</p>

<p>
  <strong>Ancho:</strong>
  <%= @carga.ancho %>
</p>

<p>
  <strong>Largo:</strong>
  <%= @carga.largo %>
</p>

<p>
  <strong>Pesoestimado:</strong>
  <%= @carga.pesoEstimado %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @carga.direccion %>
</p>

<p>
  <strong>Valorasegurado:</strong>
  <%= @carga.valorAsegurado %>
</p>

<p>
  <strong>Nombredestinatario:</strong>
  <%= @carga.nombreDestinatario %>
</p>

<p>
  <strong>Telefonodestinatario:</strong>
  <%= @carga.telefonoDestinatario %>
</p>

<p>
  <strong>Recibesabados:</strong>
  <%= @carga.recibeSabados %>
</p>

<p>
  <strong>Flete:</strong>
  <%= @carga.flete %>
</p>

<p>
  <strong>Fletetotal:</strong>
  <%= @carga.fleteTotal %>
</p>

<p>
  <strong>Guia:</strong>
  <%= @carga.guia %>
</p>

<%= link_to 'Edit', edit_carga_path(@carga) %> |
<%= link_to 'Back', cargas_path %>
